body{
  background-color: rgb(3, 41, 41);
  color:white;
 
}

.App{
  display: flex;
  justify-content:space-evenly
  
}

#timer-label{
  display:flex;
  flex-direction: column;
}


a{
 
  cursor: pointer;
}


.hidden { 
  visibility: hidden;
  display: flex;
  justify-content: center;
  color: red;
}

.hiddenCantStop { 
  visibility: hidden;
  display: flex;
  justify-content: center;
  color: red;
  font-size: medium;
}